#productSpec {
  width: 60%;
  height: 620px;
  margin: 20px auto;
  border: 1px solid red;
  padding: 15px;
  text-align: center;
}

#productSpecImage {
  width: 70%;
  margin-top: 20px;
  height: 300px;
}
