.header{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding: 15px;
    justify-content: space-evenly;
    text-decoration: none;
}

.navItems{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}